*{

}
.title {
    margin-top: 5%;
    font-size: 3em;
  }
  
  .emptyButton {
    min-width: 150px;
  }
  
  @media (max-width: 600px) {
    .emptyButton {
      margin-bottom: 5px;
    }
  }
  
  @media (min-width: 600px) {
    .emptyButton {
      margin-right: 20px;
    }
  }
  
  .checkoutButton {
    min-width: 150px;
  }
  
  .link {
    text-decoration: none;
  }
  
  .cardDetails {
    display: flex;
    margin-top: 10%;
    width: 100%;
    justify-content: space-between;
  }
  .btnItems{
    display: flex;
  gap: 20px;
  }