.toolbar {
  min-height: 64px;
  @media (min-width: 0px) and (orientation: landscape) {
    min-height: 48px;
  }
  @media (min-width: 600px) {
    min-height: 64px;
  }
}
.css-11lq3yg-MuiGrid-root {
  margin-left: 20px;
}
.content {
  flex-grow: 1;

  padding: 24px;
}
.root {
  flex-grow: 1;
}
