img.Hero-img {
  width: 100%;
  padding: 20px 60px;
  position: relative;
  user-select: none;
  margin-top: 30px;
}
.Hero-items {
  display: flex;
  justify-content: space-between;
}
.hero-sec{
  position: relative;
}
.shopBtn{
  position: absolute !important;
  bottom: 90px;
  left: 8%;
  font-size: 1.2em !important;
}
@media only screen and (max-width: 1300px) {
  .btn-sec{
    display: none !important;
    opacity: 0 !important;
  }
}