img.Hero-img {
  width: 100%;
  padding: 20px 80px;
  position: relative;
  user-select: none;
  margin-top: 30px;
}
/* .greenhead{
  position: absolute;
  z-index: 100;
  top: 10px;
  width: 741px;
  right: 18.9%;
} */
.Hero-items {
  display: flex;
  justify-content: space-between;
}
/* .Description-section{
    position: absolute;
    z-index: 1;
    bottom: 26%;
    right: 7%;
}
.Description {
  padding-bottom: 10px;
  color: #565a60 !important;
  opacity: 1;
  font-size: 1em;

}
.Description-p {
  width: 300px;
  color: #565a60 !important;
  opacity: 0.5;
  font-size: 0.7em;
} */
/* .my-atropos {
  width: 320px;
  height: 160px;

} */
.hero-sec{
  position: relative;
}
.shopBtn{
  position: absolute !important;
  bottom: 90px;
  left: 8%;
  font-size: 1.2em !important;
}
@media only screen and (max-width: 1300px) {
  .btn-sec{
    display: none !important;
    opacity: 0 !important;
  }
}