.root {
  max-width: 100%;

}
.media {
  height: 0;
  padding-top: 56.25%;

}
.cardActions {
  display: flex;
  justify-content: flex-end;
}
.cardContent {
  display: flex;
  justify-content: space-between;
}

.css-16cvb1l-MuiCardMedia-root {
  border-radius: 10px;
  height: 170px;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);

}