*{
  color: #DCDCDC !important;
}
.root {
  max-width: 100%;

}
.media {
  padding-top: 56.25%;
  cursor: pointer;
}

.cardActions {
  display: flex;
  justify-content: flex-end;
}
.cardContent {
  display: block !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}
.css-anmq6p-MuiTypography-root{
  display: block;
}
.css-16cvb1l-MuiCardMedia-root {
  border-radius: 10px;
  height: 350px !important;
  width: 350px !important;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: #131313 !important;
  box-shadow: none !important;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root{
  position: absolute;
  bottom: 145px;
}