.footer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  opacity: 0.6;
}

.css-i4bv87-MuiSvgIcon-root{
cursor: pointer;
}