.media {
    height: 260px;
  }
  
  .cardContent {
    display: flex;
    justify-content: space-between;
  }
  
  .cartActions {
    justify-content: space-between;
  }
  
  .buttons {
    display: flex;
    align-items: center;
  }
  .css-37jdci-MuiTypography-root{
    display: block;
    font-size: 1.2em;
  }