/* div.Offer-section {
  display: flex;
  position: relative;
}
img.bg-image {
  display: flex;
  overflow: hidden;
  margin-left: 20%;
}
.swiper-slide{
  overflow-y: hidden !important;
  height: 200px !important;
} */
.firstEl{
  margin-top: 10px;
}
body {
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  margin: 50px 0;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

